/* Style for my personal page */

html {
    min-height: 100%;

    /* Color Vars */
    --blue: #004;
    --my-green: #138b38;
    --teal: #003028;

    --bg-main: black;
    --bg-accent: #021;

    /* Vars for Code Block */
    --code: white;
    --keyword: lightblue;
    --number: goldenrod;
    --string: pink;
    --function: darkcyan;
    --comment: darkslategrey;

    --main-text: #bbb;
}

@font-face {
    font-family: MesloLGS;
    src: url(./MesloLG/MesloLGS-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(./Ubuntu/Ubuntu-Regular.ttf);
}

.keyword {
    color: var(--keyword);
    font-weight: bold;
}

.number {
    color: var(--number);
}

.string {
    color: var(--string);
}

.function {
    color: var(--function);
}

.comment {
    font-style: italic;
    color: var(--comment);
}

.linum {
    color: var(--comment);
    background-color: var(--bg-accent);
}

.prideflag {
    font-family: MesloLGS, monospace;
}

body {
    font-family: Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 14pt;
    background: linear-gradient(45deg, var(--bg-main) 0%, var(--bg-accent) 100%);
    color: var(--main-text);
    margin: 0;
    padding-bottom: 128px;
}

aside {
    font-family: MesloLGS, monospace;
    font-style: italic;
    color: var(--comment);
    font-size: 14pt;
    margin-left: 10%;
    margin-right: 10%;
}

li > aside {
    display: inline;
    margin-left: auto;
}

/* Top Bar and Intro */

header {
    font-family: MesloLGS, monospace;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 32px;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 32pt;
    color: var(--my-green);
    background-color: var(--blue);
    z-index: 100;
}

/* Image Layout and Delimiters */

hr {
    border: 1px dashed var(--comment);
    margin: 12px;
    margin: 24px;
}

#selfie {
    max-width: 16%;
    object-fit: contain;
    border: 8px;
    margin-right: 10%;
    flex-grow: 1;
}

/* Main Body Styling */

.content {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    min-width: 100% !important;
    justify-content: space-evenly
}

.strike {
    text-decoration: line-through;
}

p {
    font-size: 14pt;
    margin-top: 12px;
    margin-bottom: 36px;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 64px;
}

pre {
    font-family: MesloLGS, monospace;
    color: var(--code);
    border: dotted 1px var(--my-green);
    flex-grow: 2;
    font-size: 14pt;
    margin-top: 12px;
    margin-bottom: 36px;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 64px;
}

a {
    color: var(--my-green);
    text-decoration: none;
}

a:hover {
    color: var(--function);
}

#morgan {
    color: #7F5CC0;
}

#morgan:hover {
    color: #b9a2e4;
}

#tyke {
    color: #ffabcd;
    cursor: pointer;
}

#tyke:hover {
    color: #ffeeee;
}

#demographic {
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    padding: 0;
}

li.top-level {
    font-weight: bold;
}

li.date-range {
    font-style: italic;
}

a > img:hover {
    opacity: 60%;
}

h1 {
    font-family: MesloLGS, monospace;
    color: var(--my-green);
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
}

h2 {
    /* font-family: MesloLGS, monospace; */
    font-family: Ubuntu, sans-serif;
    background-color: var(--teal);
    position: relative;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 48px;
    font-size: 20pt;
}

h3, ul {
    margin-top: 24px;
    margin-bottom: 8px;
    margin-left: 10%;
    margin-right: 10%;
}

ul > ul {
    margin: 0;
}

li {
    font-size: 14pt;
    line-height: 150%;
    list-style-type: square;
    list-style-position: outside;
    margin-left: 0%;
}

::marker {
    color: var(--teal);
    font-size: 24px;
}

#mas-secondary {
    font-size: 10pt;
    list-style-type: disc;
}

#footnotes {
    margin-left: 2%;
}

.tombstone {
    font-family: MesloLGS, monospace;
    background-color: black;
    color: var(--my-green);
}

/* Bottom of Page */

footer {
    font-family: MesloLGS, monospace;
    position: fixed;
    font-size: 200%;
    min-width: 100%;
    bottom: 0;
    margin: 0;
    padding: 8px;
    box-sizing: border-box; /* Avoid window overflow from padding */
    background-color: var(--blue);
    color: var(--my-green);
    text-align: right;
    /* Flexbox settings */
    display: -webkit-flex; /* For Safari support */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

footer > a > img { /* Logos */
    height: 48px;
    width: auto;
    object-fit: contain;
    margin-left: 10px;
    margin-right: 10px;
}

#logo {
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer !important;
}